{
  "openapi": "3.1.0",
  "info": {
    "title": "CDOP reference API",
    "version": "0.1.0",
    "summary": "Reference implementation of an API for the Carbon Data Open Protocol (CDOP)",
    "description": "HAL + HAL-FORMS hypermedia over the CDOP v2 entity model, with schema-pure CDOP documents per pod, a CloudEvents stream and an MCP server.\n\nEmbedded CDOP schema version: **2.0+eff6ca3** (vendored verbatim under `components.schemas.cdop.v2.*`).\n\nEvery response carries `X-API-Version` and `X-CDOP-Schema-Version`; the API major (`/v2`) is independent of the schema version.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "name": "Rethink Carbon",
      "url": "https://rethinkcarbon.co.uk"
    }
  },
  "servers": [
    {
      "url": "https://cdop.rethinkcarbon.co.uk"
    }
  ],
  "tags": [
    {
      "name": "Root",
      "description": "Entry point and health"
    },
    {
      "name": "Projects",
      "description": "Project resources (HAL)"
    },
    {
      "name": "Project facets",
      "description": "Sub-resources of a project"
    },
    {
      "name": "CDOP documents",
      "description": "Schema-pure CDOP documents and validation"
    },
    {
      "name": "Units",
      "description": "Unit blocks (credits)"
    },
    {
      "name": "Issuances",
      "description": "Issuance batches"
    },
    {
      "name": "Accounts",
      "description": "Registry accounts"
    },
    {
      "name": "Reference data",
      "description": "Enums, schemas, state machines, identifiers"
    }
  ],
  "externalDocs": {
    "description": "Carbon Data Open Protocol",
    "url": "https://github.com/Carbon-Data-Open-Protocol/Carbon-Data-Open-Protocol"
  },
  "components": {
    "schemas": {
      "Root": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Entry point with links to every collection"
      },
      "Links": {
        "type": "object",
        "additionalProperties": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/Link"
            },
            {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Link"
              }
            }
          ]
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "templated": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "profile": {
            "type": "string"
          }
        },
        "required": [
          "href"
        ]
      },
      "HalFormsTemplate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "prompt": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                },
                "value": {},
                "options": {}
              },
              "required": [
                "name"
              ],
              "additionalProperties": {}
            }
          }
        },
        "required": [
          "title",
          "method",
          "properties"
        ]
      },
      "ProjectPage": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "HAL collection of project index rows"
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://cdop.rethinkcarbon.co.uk/problems/not-found"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status"
        ],
        "additionalProperties": {},
        "description": "RFC 9457 problem details"
      },
      "Project": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Project resource with links, embedded summary and HAL-FORMS templates"
      },
      "StatusHistory": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Versioned status records"
      },
      "Project_stakeholders": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Stakeholders (developer, organisations, landowners)"
      },
      "Project_facilities": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Facilities"
      },
      "Project_crediting_program": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Crediting program, standard and crediting periods"
      },
      "Project_methodologies": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Methodology versions"
      },
      "Project_registry": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Registry record"
      },
      "Project_validations": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Validation events"
      },
      "Project_verifications": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Verification events (provisional pod shape)"
      },
      "Project_estimations": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Estimations with per-vintage rows"
      },
      "Project_issuances": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Issuance batches"
      },
      "Project_cobenefits": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Co-benefits and SDGs"
      },
      "Project_agreements": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Financial agreements"
      },
      "Project_labels": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Labels and certifications"
      },
      "Project_buffer_pool": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Buffer pool ledger and balance"
      },
      "Project_finance": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Project finance summary"
      },
      "Project_documents": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Documents"
      },
      "Project_geolocation_files": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "GIS files"
      },
      "Project_milestones": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Registry milestones"
      },
      "ProjectUnits": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Unit blocks"
      },
      "CdopDocument": {
        "type": "object",
        "additionalProperties": {}
      },
      "Document": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Document metadata"
      },
      "UnitPage": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "HAL collection of unit blocks"
      },
      "Unit": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Unit block with status, links and HAL-FORMS templates"
      },
      "UnitStatusHistory": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Unit status records"
      },
      "IssuancePage": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Issuance batches"
      },
      "Issuance": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Issuance batch"
      },
      "AccountPage": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Registry accounts"
      },
      "Account": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Registry account"
      },
      "AccountUnits": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Unit blocks"
      },
      "ReferenceIndex": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Reference lists"
      },
      "ReferenceList": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Values of one list"
      },
      "SchemaIndex": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Schema index"
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "schema": {
            "type": "string"
          },
          "schema_version": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          }
        },
        "required": [
          "valid",
          "schema",
          "schema_version",
          "errors"
        ]
      },
      "StateMachineIndex": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Index"
      },
      "StateMachine": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "_embedded": {
            "type": "object",
            "additionalProperties": {}
          },
          "_templates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/HalFormsTemplate"
            }
          }
        },
        "required": [
          "_links"
        ],
        "additionalProperties": {},
        "description": "Transition table"
      },
      "cdop.v2.Full_List": {
        "title": "Full List",
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "project": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "location": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "country_code": {
                      "type": "string",
                      "description": "ISO 3166-1 alpha-3 country code of where the project is located and being developed",
                      "enum": [
                        "AFG",
                        "ALB",
                        "DZA",
                        "ASM",
                        "AND",
                        "AGO",
                        "AIA",
                        "ATA",
                        "ATG",
                        "ARG",
                        "ARM",
                        "ABW",
                        "AUS",
                        "AUT",
                        "AZE",
                        "BHS",
                        "BHR",
                        "BGD",
                        "BRB",
                        "BLR",
                        "BEL",
                        "BLZ",
                        "BEN",
                        "BMU",
                        "BTN",
                        "BOL",
                        "BES",
                        "BIH",
                        "BWA",
                        "BVT",
                        "BRA",
                        "IOT",
                        "BRN",
                        "BGR",
                        "BFA",
                        "BDI",
                        "CPV",
                        "KHM",
                        "CMR",
                        "CAN",
                        "CYM",
                        "CAF",
                        "TCD",
                        "CHL",
                        "CHN",
                        "CXR",
                        "CCK",
                        "COL",
                        "COM",
                        "COD",
                        "COG",
                        "COK",
                        "CRI",
                        "HRV",
                        "CUB",
                        "CUW",
                        "CYP",
                        "CZE",
                        "CIV",
                        "DNK",
                        "DJI",
                        "DMA",
                        "DOM",
                        "ECU",
                        "EGY",
                        "SLV",
                        "GNQ",
                        "ERI",
                        "EST",
                        "SWZ",
                        "ETH",
                        "FLK",
                        "FRO",
                        "FJI",
                        "FIN",
                        "FRA",
                        "GUF",
                        "PYF",
                        "ATF",
                        "GAB",
                        "GMB",
                        "GEO",
                        "DEU",
                        "GHA",
                        "GIB",
                        "GRC",
                        "GRL",
                        "GRD",
                        "GLP",
                        "GUM",
                        "GTM",
                        "GGY",
                        "GIN",
                        "GNB",
                        "GUY",
                        "HTI",
                        "HMD",
                        "VAT",
                        "HND",
                        "HKG",
                        "HUN",
                        "ISL",
                        "IND",
                        "IDN",
                        "IRN",
                        "IRQ",
                        "IRL",
                        "IMN",
                        "ISR",
                        "ITA",
                        "JAM",
                        "JPN",
                        "JEY",
                        "JOR",
                        "KAZ",
                        "KEN",
                        "KIR",
                        "PRK",
                        "KOR",
                        "KWT",
                        "KGZ",
                        "LAO",
                        "LVA",
                        "LBN",
                        "LSO",
                        "LBR",
                        "LBY",
                        "LIE",
                        "LTU",
                        "LUX",
                        "MAC",
                        "MDG",
                        "MWI",
                        "MYS",
                        "MDV",
                        "MLI",
                        "MLT",
                        "MHL",
                        "MTQ",
                        "MRT",
                        "MUS",
                        "MYT",
                        "MEX",
                        "FSM",
                        "MDA",
                        "MCO",
                        "MNG",
                        "MNE",
                        "MSR",
                        "MAR",
                        "MOZ",
                        "MMR",
                        "NAM",
                        "NRU",
                        "NPL",
                        "NLD",
                        "NCL",
                        "NZL",
                        "NIC",
                        "NER",
                        "NGA",
                        "NIU",
                        "NFK",
                        "MKD",
                        "MNP",
                        "NOR",
                        "OMN",
                        "PAK",
                        "PLW",
                        "PSE",
                        "PAN",
                        "PNG",
                        "PRY",
                        "PER",
                        "PHL",
                        "PCN",
                        "POL",
                        "PRT",
                        "PRI",
                        "QAT",
                        "ROU",
                        "RUS",
                        "RWA",
                        "REU",
                        "BLM",
                        "SHN",
                        "KNA",
                        "LCA",
                        "MAF",
                        "SPM",
                        "VCT",
                        "WSM",
                        "SMR",
                        "STP",
                        "SAU",
                        "SEN",
                        "SRB",
                        "SYC",
                        "SLE",
                        "SGP",
                        "SXM",
                        "SVK",
                        "SVN",
                        "SLB",
                        "SOM",
                        "ZAF",
                        "SGS",
                        "SSD",
                        "ESP",
                        "LKA",
                        "SDN",
                        "SUR",
                        "SJM",
                        "SWE",
                        "CHE",
                        "SYR",
                        "TWN",
                        "TJK",
                        "TZA",
                        "THA",
                        "TLS",
                        "TGO",
                        "TKL",
                        "TON",
                        "TTO",
                        "TUN",
                        "TKM",
                        "TCA",
                        "TUV",
                        "TUR",
                        "UGA",
                        "UKR",
                        "ARE",
                        "GBR",
                        "UMI",
                        "USA",
                        "URY",
                        "UZB",
                        "VUT",
                        "VEN",
                        "VNM",
                        "VGB",
                        "VIR",
                        "WLF",
                        "ESH",
                        "YEM",
                        "ZMB",
                        "ZWE",
                        "ALA"
                      ],
                      "x-cdop-field-id": 1,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].country_code"
                    },
                    "country_name": {
                      "type": "string",
                      "description": "English short name of where the project is located and being developed",
                      "enum": [
                        "Afghanistan",
                        "Albania",
                        "Algeria",
                        "American Samoa",
                        "Andorra",
                        "Angola",
                        "Anguilla",
                        "Antarctica",
                        "Antigua and Barbuda",
                        "Argentina",
                        "Armenia",
                        "Aruba",
                        "Australia",
                        "Austria",
                        "Azerbaijan",
                        "Bahamas (The)",
                        "Bahrain",
                        "Bangladesh",
                        "Barbados",
                        "Belarus",
                        "Belgium",
                        "Belize",
                        "Benin",
                        "Bermuda",
                        "Bhutan",
                        "Bolivia (Plurinational State of)",
                        "Bonaire, Sint Eustatius and Saba",
                        "Bosnia and Herzegovina",
                        "Botswana",
                        "Bouvet Island",
                        "Brazil",
                        "British Indian Ocean Territory (the)",
                        "Brunei Darussalam",
                        "Bulgaria",
                        "Burkina Faso",
                        "Burundi",
                        "Cabo Verde",
                        "Cambodia",
                        "Cameroon",
                        "Canada",
                        "Cayman Islands (the)",
                        "Central African Republic (the)",
                        "Chad",
                        "Chile",
                        "China",
                        "Christmas Island",
                        "Cocos (Keeling) Islands (the)",
                        "Colombia",
                        "Comoros (the)",
                        "Congo (the Democratic Republic of the)",
                        "Congo (the)",
                        "Cook Islands (the)",
                        "Costa Rica",
                        "Croatia",
                        "Cuba",
                        "Curaçao",
                        "Cyprus",
                        "Czechia",
                        "Côte d'Ivoire",
                        "Denmark",
                        "Djibouti",
                        "Dominica",
                        "Dominican Republic (the)",
                        "Ecuador",
                        "Egypt",
                        "El Salvador",
                        "Equatorial Guinea",
                        "Eritrea",
                        "Estonia",
                        "Eswatini",
                        "Ethiopia",
                        "Falkland Islands (the) [Malvinas]",
                        "Faroe Islands (the)",
                        "Fiji",
                        "Finland",
                        "France",
                        "French Guiana",
                        "French Polynesia",
                        "French Southern Territories (the)",
                        "Gabon",
                        "Gambia (the)",
                        "Georgia",
                        "Germany",
                        "Ghana",
                        "Gibraltar",
                        "Greece",
                        "Greenland",
                        "Grenada",
                        "Guadeloupe",
                        "Guam",
                        "Guatemala",
                        "Guernsey",
                        "Guinea",
                        "Guinea-Bissau",
                        "Guyana",
                        "Haiti",
                        "Heard Island and McDonald Islands",
                        "Holy See (the)",
                        "Honduras",
                        "Hong Kong",
                        "Hungary",
                        "Iceland",
                        "India",
                        "Indonesia",
                        "Iran (Islamic Republic of)",
                        "Iraq",
                        "Ireland",
                        "Isle of Man",
                        "Israel",
                        "Italy",
                        "Jamaica",
                        "Japan",
                        "Jersey",
                        "Jordan",
                        "Kazakhstan",
                        "Kenya",
                        "Kiribati",
                        "Korea (the Democratic People's Republic of)",
                        "Korea (the Republic of)",
                        "Kuwait",
                        "Kyrgyzstan",
                        "Lao People's Democratic Republic (the)",
                        "Latvia",
                        "Lebanon",
                        "Lesotho",
                        "Liberia",
                        "Libya",
                        "Liechtenstein",
                        "Lithuania",
                        "Luxembourg",
                        "Macao",
                        "Madagascar",
                        "Malawi",
                        "Malaysia",
                        "Maldives",
                        "Mali",
                        "Malta",
                        "Marshall Islands (the)",
                        "Martinique",
                        "Mauritania",
                        "Mauritius",
                        "Mayotte",
                        "Mexico",
                        "Micronesia (Federated States of)",
                        "Moldova (the Republic of)",
                        "Monaco",
                        "Mongolia",
                        "Montenegro",
                        "Montserrat",
                        "Morocco",
                        "Mozambique",
                        "Myanmar",
                        "Namibia",
                        "Nauru",
                        "Nepal",
                        "Netherlands (Kingdom of the)",
                        "New Caledonia",
                        "New Zealand",
                        "Nicaragua",
                        "Niger (the)",
                        "Nigeria",
                        "Niue",
                        "Norfolk Island",
                        "North Macedonia",
                        "Northern Mariana Islands (the)",
                        "Norway",
                        "Oman",
                        "Pakistan",
                        "Palau",
                        "Palestine, State of",
                        "Panama",
                        "Papua New Guinea",
                        "Paraguay",
                        "Peru",
                        "Philippines (the)",
                        "Pitcairn",
                        "Poland",
                        "Portugal",
                        "Puerto Rico",
                        "Qatar",
                        "Romania",
                        "Russian Federation (the)",
                        "Rwanda",
                        "Réunion",
                        "Saint Barthélemy",
                        "Saint Helena, Ascension and Tristan da Cunha",
                        "Saint Kitts and Nevis",
                        "Saint Lucia",
                        "Saint Martin (French part)",
                        "Saint Pierre and Miquelon",
                        "Saint Vincent and the Grenadines",
                        "Samoa",
                        "San Marino",
                        "Sao Tome and Principe",
                        "Saudi Arabia",
                        "Senegal",
                        "Serbia",
                        "Seychelles",
                        "Sierra Leone",
                        "Singapore",
                        "Sint Maarten (Dutch part)",
                        "Slovakia",
                        "Slovenia",
                        "Solomon Islands",
                        "Somalia",
                        "South Africa",
                        "South Georgia and the South Sandwich Islands",
                        "South Sudan",
                        "Spain",
                        "Sri Lanka",
                        "Sudan (the)",
                        "Suriname",
                        "Svalbard and Jan Mayen",
                        "Sweden",
                        "Switzerland",
                        "Syrian Arab Republic (the)",
                        "Taiwan (Province of China)",
                        "Tajikistan",
                        "Tanzania, the United Republic of",
                        "Thailand",
                        "Timor-Leste",
                        "Togo",
                        "Tokelau",
                        "Tonga",
                        "Trinidad and Tobago",
                        "Tunisia",
                        "Turkmenistan",
                        "Turks and Caicos Islands (the)",
                        "Tuvalu",
                        "Türkiye",
                        "Uganda",
                        "Ukraine",
                        "United Arab Emirates (the)",
                        "United Kingdom of Great Britain and Northern Ireland (the)",
                        "United States Minor Outlying Islands (the)",
                        "United States of America (the)",
                        "Uruguay",
                        "Uzbekistan",
                        "Vanuatu",
                        "Venezuela (Bolivarian Republic of)",
                        "Viet Nam",
                        "Virgin Islands (British)",
                        "Virgin Islands (U.S.)",
                        "Wallis and Futuna",
                        "Western Sahara*",
                        "Yemen",
                        "Zambia",
                        "Zimbabwe",
                        "Åland Islands"
                      ],
                      "x-cdop-field-id": 4,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].country_name"
                    },
                    "geographical_region_code": {
                      "type": "string",
                      "description": "M49 geographical region code of where the project is located and being developed",
                      "enum": [
                        "001",
                        "002",
                        "015",
                        "202",
                        "014",
                        "017",
                        "018",
                        "011",
                        "019",
                        "419",
                        "029",
                        "013",
                        "005",
                        "021",
                        "010",
                        "142",
                        "143",
                        "030",
                        "035",
                        "034",
                        "145",
                        "150",
                        "151",
                        "154",
                        "039",
                        "155",
                        "009",
                        "053",
                        "054",
                        "057",
                        "061"
                      ],
                      "x-cdop-field-id": 7,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].geographical_region_code"
                    },
                    "geographical_region_name": {
                      "type": "string",
                      "description": "M49 geographical region code corresponding English name of where the project is located and being developed",
                      "enum": [
                        "World",
                        "Africa",
                        "Northern Africa",
                        "Sub-Saharan Africa",
                        "Eastern Africa",
                        "Middle Africa",
                        "Southern Africa",
                        "Western Africa",
                        "Americas",
                        "Latin America and the Caribbean",
                        "Caribbean",
                        "Central America",
                        "South America",
                        "Northern America",
                        "Antarctica",
                        "Asia",
                        "Central Asia",
                        "Eastern Asia",
                        "South-eastern Asia",
                        "Southern Asia",
                        "Western Asia",
                        "Europe",
                        "Eastern Europe",
                        "Northern Europe",
                        "Southern Europe",
                        "Western Europe",
                        "Oceania",
                        "Australia and New Zealand",
                        "Melanesia",
                        "Micronesia",
                        "Polynesia"
                      ],
                      "x-cdop-field-id": 10,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].geographical_region_name"
                    },
                    "address_line_1": {
                      "type": "string",
                      "description": "Mailing address line 1 of where the project is located and being developed. Adherence to the ISO 19160 standard should be followed",
                      "x-cdop-field-id": 13,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer, registry",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "private",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].address_line_1"
                    },
                    "address_line_2": {
                      "type": "string",
                      "description": "Mailing address line 2 of where the project is located and being developed. Adherence to the ISO 19160 standard should be followed",
                      "x-cdop-field-id": 14,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer, registry",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "private",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].address_line_2"
                    },
                    "alternative_address": {
                      "type": "string",
                      "description": "If a project doesn't have an address that neatly aligns with the ISO 19160 standard or is only partially available, use this 'alternative address' field to include relevant address related information",
                      "x-cdop-field-id": 19,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "private",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].alternative_address"
                    },
                    "country_subdivision_code": {
                      "type": "string",
                      "description": "Recommend use of ISO 3166-2 country subdivision code of where the project is located and being developed",
                      "x-cdop-field-id": 22,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer, registry",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "private",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].country_subdivision_code"
                    },
                    "country_subdivision_name": {
                      "type": "string",
                      "description": "Recommend use of ISO 3166-2 country subdivision name of where the project is located and being developed",
                      "x-cdop-field-id": 25,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer, registry",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "private",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].country_subdivision_name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city where the project is located and being developed",
                      "x-cdop-field-id": 28,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer, registry",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "private",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].city"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code where the project is located and being developed",
                      "x-cdop-field-id": 31,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer, registry",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "private",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.location[].postal_code"
                    }
                  },
                  "required": [
                    "country_code",
                    "country_name",
                    "country_subdivision_code",
                    "country_subdivision_name",
                    "geographical_region_code",
                    "geographical_region_name"
                  ]
                }
              },
              "project_name": {
                "type": "string",
                "description": "The name of the project.",
                "x-cdop-field-id": 54,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "1..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_name"
              },
              "project_id_type": {
                "type": "string",
                "description": "The type of project id (e.g., registry id, universally unique identifier id)",
                "enum": [
                  "internal project id",
                  "current registry project id",
                  "origin registry project id",
                  "global unique project id"
                ],
                "x-cdop-field-id": 55,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_id_type"
              },
              "project_id": {
                "type": "string",
                "description": "The project's identification code.",
                "x-cdop-field-id": 56,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_id"
              },
              "project_description": {
                "type": "string",
                "description": "Description of the mitigation activities undertaken by the project, preferably the registry’s public description.",
                "x-cdop-field-id": 57,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "1..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_description"
              },
              "project_design_document_link": {
                "type": "string",
                "description": "The link to the project's project design documentation (PDD).",
                "x-cdop-field-id": 58,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_design_document_link"
              },
              "exemptions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "If relevant, any approved deviations from methodology requirements granted by the registry.",
                  "x-cdop-field-id": 59,
                  "x-cdop-pre-issuance-inclusion": "yes",
                  "x-cdop-cardinality": "0..*",
                  "x-cdop-data-source": "project developer",
                  "x-cdop-mutability": "Immutable",
                  "x-cdop-public-private": "Public",
                  "x-cdop-schema": "CDOP",
                  "x-cdop-field-path": "project.exemptions[]"
                },
                "minItems": 0
              },
              "program_type": {
                "type": "string",
                "description": "If referring to a program of activities, specify the type of program.",
                "enum": [
                  "Standalone project",
                  "Nested project",
                  "Scaled up program"
                ],
                "x-cdop-field-id": 60,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.program_type"
              },
              "activity_type": {
                "type": "string",
                "description": "If the project (activity) is part of a broader program of activities, specify which type of project the activity is.",
                "x-cdop-field-id": 61,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.activity_type"
              },
              "mitigation": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "mitigation_type": {
                      "type": "string",
                      "description": "The type of offset the project is expected to generate.",
                      "enum": [
                        "Avoidance",
                        "Reduction - nature",
                        "Reduction - technical",
                        "Removal - nature",
                        "Removal - technical",
                        "Not Determined"
                      ],
                      "x-cdop-field-id": 62,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.mitigation[].mitigation_type"
                    },
                    "project_sector": {
                      "type": "string",
                      "description": "The sector in which the project is developed and the mitigation activities conducted.",
                      "enum": [
                        "A01 - Crop and animal production, hunting and related service activities",
                        "A02 - Forestry and logging",
                        "A03 - Fishing and aquaculture",
                        "B05 - Mining of coal and lignite",
                        "B06 - Extraction of crude petroleum and natural gas",
                        "B07 - Mining of metal ores",
                        "B08 - Other mining and quarrying",
                        "B09 - Mining support service activities",
                        "C10 - Manufacture of food products",
                        "C11 - Manufacture of beverages",
                        "C12 - Manufacture of tobacco products",
                        "C13 - Manufacture of textiles",
                        "C14 - Manufacture of wearing apparel",
                        "C15 - Manufacture of leather and related products",
                        "C16 - Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials",
                        "C17 - Manufacture of paper and paper products",
                        "C18 - Printing and reproduction of recorded media",
                        "C19 - Manufacture of coke and refined petroleum products",
                        "C20 - Manufacture of chemicals and chemical products",
                        "C21 - Manufacture of basic pharmaceutical products and pharmaceutical preparations",
                        "C22 - Manufacture of rubber and plastic products",
                        "C23 - Manufacture of other non-metallic mineral products",
                        "C24 - Manufacture of basic metals",
                        "C25 - Manufacture of fabricated metal products, except machinery and equipment",
                        "C26 - Manufacture of computer, electronic and optical products",
                        "C27 - Manufacture of electrical equipment",
                        "C28 - Manufacture of machinery and equipment n.e.c.",
                        "C29 - Manufacture of motor vehicles, trailers and semi-trailers",
                        "C30 - Manufacture of other transport equipment",
                        "C31 - Manufacture of furniture",
                        "C32 - Other manufacturing",
                        "C33 - Repair, maintenance and installation of machinery and equipment",
                        "D35 - Electricity, gas, steam and air conditioning supply",
                        "E36 - Water collection, treatment and supply",
                        "E37 - Sewerage",
                        "E38 - Waste collection, treatment and disposal, and recovery activities",
                        "E39 - Remediation and other waste management service activities",
                        "F41 - Construction of residential and non-residential buildings",
                        "F42 - Civil engineering",
                        "F43 - Specialized construction activities",
                        "G46 - Wholesale trade",
                        "G47 - Retail trade",
                        "H49 - Land transport and transport via pipelines",
                        "H50 - Water transport",
                        "H51 - Air transport",
                        "H52 - Warehousing and support activities for transportation",
                        "H53 - Postal and courier activities",
                        "I55 - Accommodation",
                        "I56 - Food and beverage service activities",
                        "J58 - Publishing activities",
                        "J59 - Motion picture, video and television programme production, sound recording and music publishing activities",
                        "J60 - Programming, broadcasting, news agency and other content distribution activities",
                        "K61 - Telecommunications",
                        "K62 - Computer programming, consultancy and related activities",
                        "K63 - Computing infrastructure, data processing, hosting, and other information service activities",
                        "L64 - Financial service activities, except insurance and pension funding",
                        "L65 - Insurance, reinsurance and pension funding, except compulsory social security",
                        "L66 - Activities auxiliary to financial service and insurance activities",
                        "M68 - Real estate activities",
                        "N69 - Legal and accounting activities",
                        "N70 - Activities of head offices; management consultancy activities",
                        "N71 - Architectural and engineering activities; technical testing and analysis",
                        "N72 - Scientific research and development",
                        "N73 - Activities of advertising, market research and public relations",
                        "N74 - Other professional, scientific and technical activities",
                        "N75 - Veterinary activities",
                        "O77 - Rental and leasing activities",
                        "O78 - Employment activities",
                        "O79 - Travel agency, tour operator, and other travel related activities",
                        "O80 - Investigation and security activities",
                        "O81 - Services to buildings and landscape activities",
                        "O82 - Office administrative, office support and other business support activities",
                        "P84 - Public administration and defence; compulsory social security",
                        "Q85 - Education",
                        "R86 - Human health activities",
                        "R87 - Residential care activities",
                        "R88 - Social work activities without accommodation",
                        "S90 - Arts creation and performing arts activities",
                        "S91 - Library, archives, museum and other cultural activities",
                        "S92 - Gambling and betting activities",
                        "S93 - Sports activities and amusement and recreation activities",
                        "T94 - Activities of membership organizations",
                        "T95 - Repair and maintenance of computers, personal and household goods, and motor vehicles and motorcycles",
                        "T96 - Personal service activities",
                        "U97 - Activities of households as employers of domestic personnel",
                        "U98 - Undifferentiated goods- and services-producing activities of private households for own use",
                        "V99 - Activities of extraterritorial organizations and bodies"
                      ],
                      "x-cdop-field-id": 63,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.mitigation[].project_sector"
                    },
                    "project_type": {
                      "type": "string",
                      "description": "The emission reduction or sequestration pathway of project.",
                      "enum": [
                        "Afforestation",
                        "Agriculture",
                        "Biogas",
                        "Biomass Energy",
                        "Cement",
                        "CO2 usage",
                        "Coal bed/mine methane",
                        "Energy distribution",
                        "Energy Efficiency households",
                        "Energy Efficiency Industry",
                        "Energy Efficiency own generation",
                        "Energy Efficiency service",
                        "Energy Efficiency supply side",
                        "Fossil fuel switch",
                        "Fugitive",
                        "Geothermal",
                        "Hydro",
                        "Landfill gas",
                        "Methane avoidance",
                        "N2O",
                        "PFCs and SF6",
                        "Reforestation",
                        "Solar",
                        "Tidal",
                        "Transport",
                        "Waste",
                        "Wind",
                        "Bundled Compost Production and Soil Application",
                        "Carbon Mineralization",
                        "Enhanced Rock Weathering",
                        "Feed Additives",
                        "Improved Irrigation Management",
                        "Manure Methane Digester",
                        "Nitrogen Management",
                        "Rice Emission Reductions",
                        "Solid Waste Separation",
                        "Sustainable Agriculture",
                        "Carbon Capture & Enhanced Oil Recovery",
                        "Carbon Capture in Concrete",
                        "Carbon Capture in Plastic",
                        "N2O Destruction in Adipic Acid Production",
                        "N2O Destruction in Nitric Acid Production",
                        "Propylene Oxide Production",
                        "SF6 Replacement",
                        "Advanced Refrigerants",
                        "HFC Refrigerants Reclamation",
                        "HFC Replacement in Foam Production",
                        "HFC23 Destruction",
                        "Ozone Depleting Substances Recovery & Destruction",
                        "Refrigerant Leak Detection",
                        "BECCS (Bioenergy with Carbon Capture and Storage)",
                        "Biomass Carbon Removal & Storage (BiCRS)",
                        "Direct Air Capture",
                        "Ocean Alkalinity Enhancement",
                        "River Alkalinity Enhancement",
                        "Wastewater Alkalinity Enhancement",
                        "Afforestation/Reforestation",
                        "Avoided Forest Conversion",
                        "Avoided Grassland Conversion",
                        "Improved Forest Management",
                        "REDD+ (Reducing Emissions from Deforestation and Forest Degradation)",
                        "REDD+ Jurisdictional",
                        "Sustainable Grassland Management",
                        "Wetland Restoration",
                        "Biodigesters",
                        "Bundled Energy Efficiency",
                        "Clean Water",
                        "Community Boreholes",
                        "Cookstoves",
                        "Lighting",
                        "Weatherization",
                        "Aluminum Smelters Emission Reductions",
                        "Brick Manufacturing Emission Reductions",
                        "Carbon-Absorbing Concrete",
                        "Energy Efficiency",
                        "Fuel Switching",
                        "Grid Expansion & Mini-Grids",
                        "Leak Detection & Repair in Gas Systems",
                        "Lower Carbon Cement & Concrete",
                        "Mine Methane Capture",
                        "Natural Gas Electricity Generation",
                        "Oil Recycling",
                        "Plugging Oil & Gas Wells",
                        "Pneumatic Retrofit",
                        "Road Construction Emission Reductions",
                        "University Campus Emission Reductions",
                        "Waste Gas Recovery",
                        "Waste Heat Recovery",
                        "Biomass",
                        "Energy Storage",
                        "Hydropower",
                        "RE Bundled (Bundled Renewables)",
                        "Solar - Centralized",
                        "Solar - Distributed",
                        "Solar Lighting",
                        "Solar Water Heaters",
                        "Bicycles",
                        "Electric Vehicles & Charging",
                        "Fleet Efficiency",
                        "Fuel Transport",
                        "Mass Transit",
                        "Shipping",
                        "Truck Stop Electrification",
                        "Biochar",
                        "Composting",
                        "Landfill Methane",
                        "Methane Recovery in Wastewater",
                        "Waste Diversion",
                        "Waste Incineration",
                        "Waste Recycling",
                        "Waste Reduction",
                        "Any combination of the above"
                      ],
                      "x-cdop-field-id": 64,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.mitigation[].project_type"
                    },
                    "estimated_annual_emissions_mitigation": {
                      "type": "number",
                      "description": "Estimated ex-ante annual average amount of emissions reduction, avoidance or removal over the current crediting period, net of buffer contributions. This can be calculated by the optional per vintage data, if available.",
                      "x-cdop-field-id": 167,
                      "x-cdop-pre-issuance-inclusion": "Yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "Project developer, Standard",
                      "x-cdop-mutability": "Mutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.mitigation[].estimated_annual_emissions_mitigation"
                    },
                    "estimated_total_emissions_mitigation": {
                      "type": "number",
                      "description": "Estimated ex-ante total amount of emissions reduction, avoidance or removal as included in the current estimation event, net of buffer contributions.This can be calculated by the optional per vintage data, if available.",
                      "x-cdop-field-id": 168,
                      "x-cdop-pre-issuance-inclusion": "Yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "Project developer, Standard",
                      "x-cdop-mutability": "Mutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.mitigation[].estimated_total_emissions_mitigation"
                    }
                  },
                  "required": [
                    "estimated_annual_emissions_mitigation",
                    "estimated_total_emissions_mitigation"
                  ]
                }
              },
              "current_registry_project_link": {
                "type": "string",
                "description": "The link to the project on its current registry.",
                "x-cdop-field-id": 65,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.current_registry_project_link"
              },
              "status": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "project_status": {
                      "type": "string",
                      "description": "The current status of the project.",
                      "enum": [
                        "Origination",
                        "Pre-feasibility",
                        "Feasibility",
                        "Project design drafting",
                        "Project design finalization",
                        "Listed",
                        "Validation",
                        "Validated",
                        "Registered",
                        "Approved",
                        "Authorized",
                        "Verified and issuing",
                        "Completed",
                        "Withdrawn",
                        "De-registered",
                        "Inactive",
                        "Rejected"
                      ],
                      "x-cdop-field-id": 66,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Mutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.status[].project_status"
                    },
                    "project_status_reason": {
                      "type": "string",
                      "description": "The reason for updating the project status",
                      "x-cdop-field-id": 67,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Mutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.status[].project_status_reason"
                    },
                    "is_current": {
                      "type": "boolean",
                      "description": "False for previous statuses, True for the current status.",
                      "x-cdop-field-id": 68,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "0..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Mutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.status[].is_current"
                    }
                  },
                  "required": [
                    "is_current",
                    "project_status"
                  ]
                }
              },
              "project_registration_date": {
                "type": "string",
                "format": "date",
                "description": "The date the project was registered on the registry.",
                "x-cdop-field-id": 69,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_registration_date"
              },
              "project_list_date": {
                "type": "string",
                "format": "date",
                "description": "The date the project was first listed on a registry.",
                "x-cdop-field-id": 70,
                "x-cdop-pre-issuance-inclusion": "yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_list_date"
              },
              "documents": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "other_project_documentation_type": {
                      "type": "string",
                      "description": "The type(s) of additional project documentation.",
                      "enum": [
                        "project monitoring plan",
                        "project monitoring report",
                        "non-permanence risk assessment",
                        "voluntary cancellation certification",
                        "loss event report",
                        "consultation record"
                      ],
                      "x-cdop-field-id": 71,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.documents[].other_project_documentation_type"
                    },
                    "other_project_documentation_link": {
                      "type": "string",
                      "description": "The link(s) to the project's additional project documentation.",
                      "x-cdop-field-id": 72,
                      "x-cdop-pre-issuance-inclusion": "yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.documents[].other_project_documentation_link"
                    }
                  },
                  "required": [
                    "other_project_documentation_link",
                    "other_project_documentation_type"
                  ]
                }
              },
              "project_identifier": {
                "type": "string",
                "description": "Global unique identifier for the project",
                "x-cdop-field-id": 87,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "Immutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.project_identifier"
              },
              "audits": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "auditor_name": {
                      "type": "string",
                      "description": "The organizational name of project's auditor (e.g., VBB)",
                      "x-cdop-field-id": 88,
                      "x-cdop-pre-issuance-inclusion": "Yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.audits[].auditor_name"
                    },
                    "auditor_site_visit_start_date": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date for Auditor (e.g., VVB) site visit",
                      "x-cdop-field-id": 89,
                      "x-cdop-pre-issuance-inclusion": "Yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.audits[].auditor_site_visit_start_date"
                    },
                    "auditor_site_visit_end_date": {
                      "type": "string",
                      "format": "date",
                      "description": "End date for Auditor (e.g., VVB) site visit",
                      "x-cdop-field-id": 90,
                      "x-cdop-pre-issuance-inclusion": "Yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.audits[].auditor_site_visit_end_date"
                    },
                    "verification_report_url": {
                      "type": "string",
                      "description": "Enter the link to the auditor's verification report",
                      "x-cdop-field-id": 91,
                      "x-cdop-pre-issuance-inclusion": "Yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.audits[].verification_report_url"
                    },
                    "verification_report_date": {
                      "type": "string",
                      "format": "date",
                      "description": "Enter the date the verification report was issued",
                      "x-cdop-field-id": 92,
                      "x-cdop-pre-issuance-inclusion": "Yes",
                      "x-cdop-cardinality": "1..1",
                      "x-cdop-data-source": "project developer",
                      "x-cdop-mutability": "Immutable",
                      "x-cdop-public-private": "Public",
                      "x-cdop-schema": "CDOP",
                      "x-cdop-field-path": "project.audits[].verification_report_date"
                    }
                  },
                  "required": [
                    "auditor_name",
                    "auditor_site_visit_end_date",
                    "auditor_site_visit_start_date",
                    "verification_report_date",
                    "verification_report_url"
                  ]
                }
              },
              "attestations": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "list of attestations (e.g., child labor, labor worker attestation), if verified credentials are supported",
                  "enum": [
                    "child labor attestation",
                    "labor worker attestation",
                    "legal land ownership attestation",
                    "human rights attestation"
                  ],
                  "x-cdop-field-id": 102,
                  "x-cdop-pre-issuance-inclusion": "Yes",
                  "x-cdop-cardinality": "0..*",
                  "x-cdop-data-source": "project developer",
                  "x-cdop-mutability": "mutable",
                  "x-cdop-public-private": "Public",
                  "x-cdop-schema": "CDOP",
                  "x-cdop-field-path": "project.attestations"
                },
                "minItems": 0
              },
              "carbon_concession_contract_length": {
                "type": "boolean",
                "description": "Indicate whether the concession contract is at least the same length as the crediting period",
                "x-cdop-field-id": 103,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.carbon_concession_contract_length"
              },
              "carbon_concession_contract": {
                "type": "string",
                "description": "Enter the carbon concession contract",
                "x-cdop-field-id": 104,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.carbon_concession_contract"
              },
              "carbon_credit_ownership_attestation": {
                "type": "boolean",
                "description": "Indicate possession of carbon credit ownership documentation",
                "x-cdop-field-id": 105,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "1..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.carbon_credit_ownership_attestation"
              },
              "carbon_credit_ownership_documentation": {
                "type": "string",
                "description": "Enter the link to the contract of ownership.",
                "x-cdop-field-id": 106,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "1..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.carbon_credit_ownership_documentation"
              },
              "child_labor_attestation": {
                "type": "boolean",
                "description": "Project complies with age-related legal frameworks. Indicates compliance with the ILO Convention 138 Minimum Age Convention 1973 and/or national labor laws related to minimum age",
                "x-cdop-field-id": 107,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.child_labor_attestation"
              },
              "child_labor_documentation": {
                "type": "string",
                "description": "Evidence of compliance with age-related legal frameworks and ILO Convention 148 Minimum Age Convention 1973 and/or national labor laws related to minimum age",
                "x-cdop-field-id": 108,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.child_labor_documentation"
              },
              "community_frameworks": {
                "type": "string",
                "description": "Summarize measures taken to comply with frameworks governing the rights of Indigenous, tribal, and local communities",
                "x-cdop-field-id": 109,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.community_frameworks"
              },
              "cultural_site_borders": {
                "type": "boolean",
                "description": "The project site includes or borders archaeological sites or districts listed in national or international registries of historical or cultural significance",
                "x-cdop-field-id": 110,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.cultural_site_borders"
              },
              "cultural_site_designation": {
                "type": "boolean",
                "description": "Registry recognition of cultural site designation",
                "x-cdop-field-id": 111,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.cultural_site_designation"
              },
              "labor_worker_attestation": {
                "type": "boolean",
                "description": "Statement of compliance with international standards-compliant code of conduct or other labor rights documentation",
                "x-cdop-field-id": 112,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.labor_worker_attestation"
              },
              "labor_worker_documentation": {
                "type": "string",
                "description": "Enter the link to evidence of international standards-compliant code of conduct or other labor rights documentation",
                "x-cdop-field-id": 113,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.labor_worker_documentation"
              },
              "land_right_attestation": {
                "type": "boolean",
                "description": "Indicate the possession of evidence of land rights",
                "x-cdop-field-id": 114,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.land_right_attestation"
              },
              "land_rights_documentation": {
                "type": "string",
                "description": "Enter the link to evidence of land rights",
                "x-cdop-field-id": 115,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.land_rights_documentation"
              },
              "land_ownership_attestation": {
                "type": "boolean",
                "description": "Indicate the possession of evidence of land ownership",
                "x-cdop-field-id": 116,
                "x-cdop-pre-issuance-inclusion": "Yes",
                "x-cdop-cardinality": "0..1",
                "x-cdop-data-source": "project developer",
                "x-cdop-mutability": "mutable",
                "x-cdop-public-private": "Public",
                "x-cdop-schema": "CDOP",
                "x-cdop-field-path": "project.land_ownership_attestation"
              },
              "land_ownership_documentation": {
                "type": "string",
[...]
